:root {
  --dark: #1C1C1C;
  --yellow-light: #F9DBB3;
  --white: #FFF;
  --black: #000;
}

.mainWrapper {
  min-height: 100vh;
  max-width: 1120px;
  margin: 2rem auto;
  padding: 0 1rem;
}


@media(max-width:760px) {
  .mainWrapper {
      width: 100%;
      margin: auto;
      padding: 0;
  }
}
.App {
  text-align: center;
  background: var(--black);
  color: var(--white);
}
